body {
  margin: 0;
  padding: 0;
}

.wrapper {
	padding: 0 18px;
}

.container {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	grid-template-columns: repeat(12, [col] 1fr);
	grid-template-rows: 56px auto;
	grid-template-areas:
		"header header header header header header header header header header header header"
		"main main main main main main main main main main main main";
	position: relative;
}

.header-nav {
	align-items: center;
	background-color: khaki;
	display: flex;
	height: 56px;
	justify-content: center;
}

.feed {
	margin: 5px 0;
}

.feed-item {
	background-color: dodgerblue;
	height: 350px;
}

.feed-interrupt {
	background-color: green;
	height: 400px;
}

.social-card {
	background-color: orange;
	height: 300px;
}

.header-nav {
	grid-area: header;
}

.left-rail,
.right-rail {
	background-color: gray;
	display: none;
	opacity: .5;
}


.main {
	background-color: gray;
	display: block;
	grid-column: main;
}

.feed-item,
.feed-interrupt,
.social-card {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 5px;
	opacity: .8;
}

@media screen and (min-width: 768px) {
	.wrapper {
		margin: 0 auto;
		max-width: 732px;
	}

	.container {
		grid-template-areas:
			"header header header header header header header header header header header header"
			". main main main main main main main main main main .";
	}
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 988px;
  }

	.container {
		grid-template-areas:
			"header header header header header header header header header header header header"
			"main main main main main main main main r-rail r-rail r-rail r-rail";
	}

	.right-rail {
		display: block;
		grid-area: r-rail;
	}
}

@media screen and (min-width: 1280px) {
	.wrapper {
		max-width: 1244px;
	}

	.container {
		grid-template-areas:
			"header header header header header header header header header header header header"
			"l-rail l-rail main main main main main main main r-rail r-rail r-rail";
	}

	.left-rail {
		display: block;
		grid-area: l-rail;
	}
}


.grid-overlay {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(12, [col] 1fr);
	grid-template-rows: auto;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.item {
	align-items: flex-end;
	background-color: pink;
	display: flex;
	justify-content: center;
	opacity: .5;
	border-right: 1px solid #fff;
}

.item-1 {
	grid-column: col 1 / col 2;
}

.item-2 {
	grid-column: col 2 / col 3;
}

.item-3 {
	grid-column: col 3 / col 4;
}

.item-4 {
	grid-column: col 4 / col 5;
}

.item-5 {
	grid-column: col 5 / col 6;
}

.item-6 {
	grid-column: col 6 / col 7;
}

.item-7 {
	grid-column: col 7 / col 8;
}

.item-8 {
	grid-column: col 8 / col 9;
}

.item-9 {
	grid-column: col 9 / col 10;
}

.item-10 {
	grid-column: col 10 / col 11;
}

.item-11 {
	grid-column: col 11 / col 12;
}

.item-12 {
	grid-column: col 12 / col 13;
}
